#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}




li{
  list-style-type:none;
}

.completed{
  background-color: green;
  border: 1px solid white;

  padding: 0.7rem 1rem;
}

.pending{
  background-color: red;
  border: 1px solid white;
  padding: 0.7rem 1rem;
}